{% extends 'layout/base.html' %} {% block layout %}

<header class="grid grid-flow-row mt-8">
  <ul
    class="flex gap-12 justify-self-center py-2 px-4 w-fit font-['Press_Start_2P'] text-sm"
  >
    <li class="hover:text-pico-red cursor-pointer">
      <a href="{{url_for('app.home')}}">Home</a>
    </li>
    <li class="hover:text-pico-red cursor-pointer">
      <a href="{{url_for('logout')}}">Log Out</a>
    </li>
  </ul>
</header>

<main class="mt-16 grow h-full w-full">
  {% block content %}
  <p>Inject another template here.</p>
  {% endblock %}
</main>

<footer class="mt-12 py-12">
  <p class="text-zinc-500">&copy; {{ current_year }} Corbin Day</p>
</footer>

{% endblock %}
