{% extends 'layout/base.html' %} {% block layout %}

<header class="grid grid-flow-row mt-8">
  <ul
    class="flex gap-8 justify-self-center py-2 px-4 w-fit font-bold"
  >
    <li class="hover:text-[rgb(255,0,0)] cursor-pointer">
      <a href="{{url_for('index')}}">About</a>
    </li>
    <li class="hover:text-[rgb(255,0,0)] cursor-pointer">
      <a href="{{url_for('home')}}">Home</a>
    </li>
    <li class="hover:text-[rgb(255,0,0)] cursor-pointer">
      <a href="{{url_for('auth.signup')}}">Sign Up</a>
    </li>
    <li class="hover:text-[rgb(255,0,0)] cursor-pointer">
      <a href="{{url_for('auth.signin')}}">Sign In</a>
    </li>
    <li class="hover:text-[rgb(255,0,0)] cursor-pointer">
      <a href="{{url_for('email_test')}}">Email Test</a>
    </li>
  </ul>
</header>

<main class="mt-16 grow h-full w-full">
  {% block content %}
  <p>Inject another template here.</p>
  {% endblock %}
</main>

<footer class="mt-12 py-12">
  <p class="text-zinc-500">&copy; {{ current_year }} Corbin Day</p>
</footer>

{% endblock %}
